extends layout

block content
  #min-price-value(hidden) #{minprice}
  #max-price-value(hidden) #{maxprice}
  // Start About shop area
  section.shop_banner
    .container
      .row
        .col-12
          .shop_banner_text
            .table_cell.text-center
              h2 #{title}
  // End About shop area
  // Start shop page area
  section.shop_page_area.section_padding_6
    form.container(method='POST', action='/browse/filter')
      .row
        .col-lg-3.col-md-12.order-2.order-lg-1
          .shop_left_sidebar
            .widget
              h3.widget-title adjust prices
              .widget_prices
                .price_bar
                  #slider-range
                  .price-amount
                    input#min-amount(type='text', name='price_min', placeholder='Add Your Price')
                    input#max-amount(type='text', name='price_max', placeholder='Add Your Price')
                  input.filter(type='submit', value='Filter')
            //- .widget
            //-   h3.widget-title featured product
            //-   .single_offers
            //-     .single_offers_img
            //-       a(href='#')
            //-         img.primary_image(src='/img/offers/best_seller_2.jpg', alt='')
            //-         img.secondary_image(src='/img/offers/best_seller_2.jpg', alt='')
            //-     .single_offers_label
            //-       a(href='#')
            //-         h5 Abyss
            //-       h4 ฿390.00
            //-   .single_offers
            //-     .single_offers_img
            //-       a(href='#')
            //-         img.primary_image(src='/img/offers/best_sellers_4.jpg', alt='')
            //-         img.secondary_image(src='/img/offers/best_sellers_2.jpg', alt='')
            //-     .single_offers_label
            //-       a(href='#')
            //-         h5 Potion Explosion
            //-       h4 ฿390.00
            //
              <div class="widget single_slider_bottom hidden-md">
              <a href=""><img src="img/widget_banner.jpg" alt=""></a>
              </div>
        .col-lg-9.col-md-12.order-1.order-lg-2
          .row
            .col-12
              .toolbar.clearfix
                .toolbar-form.clearfix
                  p Short By
                  //- form(action='#')
                  .toolbar-section(style='margin-right: 20px;')
                    select#sort(name='sort')
                      if sort
                        option(value=sort) Current: #{sort}
                      option(value='default') Default Sorting
                      option(value='name_a_z') Sort by Name: A-Z
                      option(value='name_a_z') Sort by Name: Z-A
                      option(value='price_min') Sort by Price: Low to High
                      option(value='price_max') Sort by Price: High to Low
                .toolbar-form.clearfix
                  p Category
                  //- form(action='#')
                  .toolbar-section
                    select#sort(name='category')
                      if category
                        option(value=category) Current: #{title}
                      option(value='strategy+party+thematic+family+children+dice_bag+dice_set+playmats') All
                      option(value='strategy+party+thematic+family+children') All Games
                      option(value='dice_bag+dice_set+playmats') All Accessories
                      option(value='strategy') Strategy Games
                      option(value='party') Party Games
                      option(value='thematic') Thematic Games
                      option(value='family') Family Games
                      option(value='children') Children Games
                      option(value='dice_bag') Dice Bags
                      option(value='dice_set') Dice Sets
                      option(value='playmats') Playmats
          .row
            if products
              each product in products
                if category
                  - var check_category = category.split('+').includes(product.category.toLowerCase()) && product.price >= minprice && product.price <= maxprice
                else
                  - var check_category = true
                if check_category
                  .col-md-4.col-sm-12.col-lg-4
                    .single_trend
                      .single_trend_item
                        .single_trend_img
                          a(href='/product/'+product._id)
                            img.primary_image(src=product.picture, alt='')
                            img.secondary_image(src=product.picture, alt='')
                        .single_trend_label.text-center
                          a(href='/product/'+product._id)
                            h3 #{product.name}
                            h4(style='color: grey; margin-top: 0px; padding-top: 0px;') #{product.category}
                            h4(style='margin-top: 0px; padding-top: 0px;') ฿#{product.price}
                        .wish_icon_hover.text-center
                          ul
                            li.active
                              a(href='/cart/add/'+product._id, data-toggle='tooltip', title='Shopping Cart')
                                img(src='/img/trend/shopping_cart.png', alt='cart')
                            li
                              a(href='#', data-toggle='tooltip', title='Like it!')
                                img(src='/img/trend/heart.png', alt='')
          //- .row
          //-   .col-12
          //-     .pagination.text-center
          //-       ul.page_no
          //-         li.active
          //-           a(href='#') 1
          //-         li
          //-           a(href='#') 2
          //-         li.active
          //-           a(href='#')
          //-             i.fa.fa-long-arrow-right
  // End shop page area
