extends layout

block content
  // banner start
  .blog_banner_area
    .container
      .row
        .col-12
          .page_title
            h2 CHECKOUT
  // banner end
  // banner bottom start
  .banner_bottom_area
    .container
      .row
        .col-lg-4.col-md-4.col-sm-12
          .single_banner_bottom.active.text-center
            p.active 01
            h4 SHOPPING CART
        .col-lg-4.col-md-4.col-sm-12
          .single_banner_bottom.text-center
            p.active 02
            h4 CHECK OUT
        .col-lg-4.col-md-4.col-sm-12
          .single_banner_bottom.text-center
            p 03
            h4 ORDER COMPLETE
  // banner bottom end
  // cart start
  .checkout_area
    .container
      .row
        .col-lg-12.col-md-12.col-sm-12
          .row
            .col-md-6.col-lg-6
              .promotion_code
                form(method='POST', action='/checkout/confirm').your_order
                  h2.order_title #{user.name}'s Order
                  .order_table
                    ul
                      li
                        h5
                          | PRODUCTS 
                          span TOTALS
                        each product in products
                          p #{product.name}
                            span
                              //This is for quantity
                            span 
                              | ฿#{product.price}
                      li
                        h5
                          | Cart Subtotal 
                          span ฿#{price}
                      li
                        h5
                          | Shipping 
                          span Free Shipping
                      li.order_total_purple
                        h5
                          | Order Totals 
                          span ฿#{price}
                      li
                        h2.order_title Payment Methods
                      li
                        p.checkbox_title
                          input(type='checkbox')
                          | Cash on Delivery
                        li
                          p.checkbox_title
                            input(type='checkbox')
                            | I’ve read & Accept the 
                            span.terms_left terms & Conditions
                        li
                          input.confirm_order_button(type='submit', value='CONFIRM ORDER')
  // cart area end
