extends layout

block content
  // banner start
  .blog_banner_area
    .container
      .row
        .col-12
          .page_title
            h2 Register
  // banner end
  != messages('message', locals)
  if errors
    div(class='alert alert-danger', style='text-align: center;')
      each error, i in errors
        p #{error.msg}
  // register start
  .register_area
    .container
      .row
        .col-md-3.col-sm-12
        .col-md-6.col-sm-12
          .register_customer
            h2.register_heading Edit contact information
            form(method='POST', action='/account/edit_address')
              p
                | Name
                span  * 
                br
                | #{user.name}
              p
                | Email
                span  * 
                br
                | #{user.email}
              p
                | Address
                span  * 
                br
                input(name='address', type='text', value=user.address)
              p
                | District
                span  * 
                br
                input(name='address2', type='text', value=user.address2)
              p
                | Province
                span  * 
                br
                input(name='address3', type='text', value=user.address3)
              p
                | Postal Code
                span  * 
                br
                input(name='address4', type='text', pattern='[0-9]{5}', value=user.address4)
              p
                | Country
                span  * 
                br
                | #{user.address5}
              p
                | Telephone Number
                span  * 
                br
                input(name='tel_num', type='text', oninput="this.value=this.value.replace(/[^0-9]/g,'');", value=user.tel_num)
              input(type='submit', value='SAVE')
  // register end
