extends layout

block content
  // banner start
  .blog_banner_area
    .container
      .row
        .col-12
          .page_title
            h2 Admin Area
  if user
    if user.isAdmin
      // banner end
      .register_area
        .container
          .row
            .col-md-3.col-sm-12
            .col-md-6.col-sm-12
              .register_customer
                h2.register_heading Edit products
                form(method='POST', action='/product/edit/'+product.id)
                  p
                    | Name
                    span  * 
                    br
                    input(name='name', type='text', value=product.name)
                  p
                    | Description
                    span  * 
                    br
                    textarea(name='description', type='text') #{product.description}
                  p
                    | Minimum players
                    span  * 
                    br
                    input(name='player', type='number', value=product.player)
                  p
                    | Maximum players
                    span  * 
                    br
                    input(name='maxPlayer', type='number', value=product.maxPlayer)
                  p
                    | Picture
                    span  * 
                    br
                    input(name='picture', type='text', value=product.picture)
                  p
                    | Stock
                    span  * 
                    br
                    input(name='stock', type='number', value=product.stock)
                  p
                    | Price
                    span  * 
                    br
                    input(name='price', type='number', value=product.price)
                  P
                    | Category
                    span  * 
                    br
                    select(name='category')
                        option(value='Strategy') Strategy Games
                        option(value='Party') Party Games
                        option(value='Thematic') Thematic Games
                        option(value='Family') Family Games
                        option(value='Children') Children Games
                        option(value='Other') Other Games
                        option(value='Dice_bag') Dice Bags
                        option(value='Dice_set') Dice Sets
                        option(value='Playmats') Playmats
                        option(value='Other_acc') Other Accessories
                  input(type='submit', value='ADD PRODUCT')
    else
      .register_area
        .container
          .row
            .col-md-3.col-sm-12
            .col-md-6.col-sm-12
              .register_customer
                h2.register_heading Sorry! You are not the owner of this product.
  else
    .register_area
      .container
        .row
          .col-md-3.col-sm-12
          .col-md-6.col-sm-12
            .register_customer
              h2.register_heading Sorry! You are not supposed to be here.
