extends layout

block content
  != messages('message', locals)
  if errors
    div(class='alert alert-danger', style='text-align: center;')
      each error, i in errors
        p #{error.msg}
  // slider start
  .slider-wrap
    .bend.niceties.preview-1
      #nivoslider.slides
        img(src='/img/slider/slider-1_temp.png', alt='', title='#slider-direction-1')
        img(src='/img/slider/slider-2_temp.png', alt='', title='#slider-direction-2')
      // direction 1
      #slider-direction-1.t-cn.slider-direction
        .slider-content.slider-text-1
          .wow.bounceInDown(data-wow-duration='3s', data-wow-delay='0.3s')
            h1.title1 new arrivals
        .slider-content.slider-text-2
          .wow.bounceInLeft(data-wow-duration='3s', data-wow-delay='1s')
            p discover our newest games
        .slider-content.slider-text-3
          .wow.bounceInUp(data-wow-duration='3s', data-wow-delay='1s')
            a.slider_button(href='') Shop Now 
      // direction 2
      #slider-direction-2.slider-direction
        .slider-content.slider-text-1
          .wow.bounceInDown(data-wow-duration='2s', data-wow-delay='0.3s')
            h1.title1 new arrivals
        .slider-content.slider-text-2
          .wow.bounceInRight(data-wow-duration='3s', data-wow-delay='1s')
            p discover our newest games
        .slider-content.slider-text-3
          .wow.bounceInUp(data-wow-duration='3s', data-wow-delay='1s')
            a.slider_button(href='#') Shop Now 
  // slider end
  // slider bottom start
  .slider_bottom_area
    .container
      .row
        .col-lg-4.col-md-4.col-sm-12
          .single_slider_bottom
            a(href='')
              img(src='/img/slider_bottom/image-2018-09-17 (4).jpg', alt='')
            .slider_bottom_text
              a(href='')
                h3 BOARD GAMES
        .col-lg-4.col-md-4.col-sm-12
          .single_slider_bottom
            a(href='')
              img(src='/img/slider_bottom/slider_bottom_2_temp.jpg', alt='')
            .slider_bottom_text
              a(href='')
                h3 CARD GAMES
        .col-lg-4.col-md-4.col-sm-12
          .single_slider_bottom
            a(href='')
              img(src='/img/slider_bottom/slider_bottom_3_temp.jpg', alt='')
            .slider_bottom_text
              a(href='')
                h3 GAME ACCESS
  // bottom end
  // trending start
  section.trending
    .container
      .row
        .col
          .section_title.text-center
            h2 Trending Games
            img(src='/img/section_title.png', alt='')
      .trend_tab
        .row
          .col
            .trend_menu.text-center
              ul.nav.justify-content-center(role='tablist')
                li.active(role='presentation')
                  a.active(href='#strategy', aria-controls='arrival', role='tab', data-toggle='tab') strategy
                li(role='presentation')
                  a(href='#party', aria-controls='men', role='tab', data-toggle='tab') party
                li(role='presentation')
                  a(href='#thematic', aria-controls='women', role='tab', data-toggle='tab') thematic
                li(role='presentation')
                  a(href='#family', aria-controls='accessories', role='tab', data-toggle='tab') family
                li(role='presentation')
                  a(href='#children', aria-controls='bag', role='tab', data-toggle='tab') children
        .trend_content.tab-content
          #strategy.tab-pane.active.trend_item(role='tabpanel')
            .row
              .trend_item_slider
                each product in products      
                  if (product.category.toLowerCase() === 'strategy' && product.stock > 0)
                    .col-12
                      .single_trend
                        .single_trend_item
                          .single_trend_img
                            a(href='/product/'+product._id)
                              img.primary_image(src=product.picture, alt='products.title')
                              img.secondary_image(src=product.picture, alt='products.title')
                              //- span.blue -15%
                          .single_trend_label.text-center
                            a(href='/product/'+product._id)
                              h3 #{product.name}
                            h4 ฿#{product.price}  
                              //- del ฿#{product.price} 
                          .wish_icon_hover.text-center
                            ul
                              li.active
                                a(href='/cart/add/'+product._id, data-toggle='tooltip', title='Add to cart')
                                  img(src='/img/trend/shopping_cart.png', alt='')
                              li
                                a(href='#', data-toggle='tooltip', title='Like it!')
                                  img(src='/img/trend/heart.png', alt='')
                              //- li
                              //-   a(href='#', data-toggle='tooltip', title='Compage')
                              //-     i.fa.fa-bar-chart
                              //- li
                              //-   a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              //-     img(src='/img/trend/eye.png', alt='')
          #party.tab-pane.trend_item(role='tabpanel')
            .row
              .trend_item_slider
                each product in products
                  if (product.category.toLowerCase() === 'party' && product.stock > 0)
                    .col-12
                      .single_trend
                        .single_trend_item
                          .single_trend_img
                            a(href='/product/'+product._id)
                              img.primary_image(src=product.picture, alt='')
                              img.secondary_image(src=product.picture, alt='')
                          .single_trend_label.text-center
                            a(href='/product/'+product._id)
                              h3 #{product.name}
                            h4 ฿#{product.price} 
                          .wish_icon_hover.text-center
                            ul
                              li.active
                                a(href='/cart/add/'+product._id, data-toggle='tooltip', title='Add to cart')
                                  img(src='/img/trend/shopping_cart.png', alt='')
                              li
                                a(href='#', data-toggle='tooltip', title='Like it!')
                                  img(src='/img/trend/heart.png', alt='')
                              //- li
                              //-   a(href='#', data-toggle='tooltip', title='Compage')
                              //-     i.fa.fa-bar-chart
                              //- li
                              //-   a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              //-     img(src='/img/trend/eye.png', alt='')
          .tab-pane.trend_item(role='tabpanel')
            .row
              .trend_item_slider
                each product in products              
                  if (product.category.toLowerCase() === 'thematic' && product.stock > 0)
                    .col-12
                      .single_trend
                        .single_trend_item
                          .single_trend_img
                            a(href='/product/'+product._id)
                              img.primary_image(src=product.picture, alt='')
                              img.secondary_image(src=product.picture, alt='')
                          .single_trend_label.text-center
                            a(href='/product/'+product._id)
                              h3 #{product.name}
                            h4 ฿#{product.price}  
                          .wish_icon_hover.text-center
                            ul
                              li.active
                                a(href='/cart/add/'+product._id, data-toggle='tooltip', title='Add to cart')
                                  img(src='/img/trend/shopping_cart.png', alt='')
                              li
                                a(href='#', data-toggle='tooltip', title='Like it!')
                                  img(src='/img/trend/heart.png', alt='')
                              //- li
                              //-   a(href='#', data-toggle='tooltip', title='Compage')
                              //-     i.fa.fa-bar-chart
                              //- li
                              //-   a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              //-     img(src='/img/trend/eye.png', alt='')
          #family.tab-pane.trend_item(role='tabpanel')
            .row
              .trend_item_slider
                each product in products
                  if (product.category.toLowerCase() === 'family' && product.stock > 0)
                    .col-12
                      .single_trend
                        .single_trend_item
                          .single_trend_img
                            a(href='/product/'+product._id)
                              img.primary_image(src=product.picture, alt='')
                              img.secondary_image(src=product.picture, alt='')
                          .single_trend_label.text-center
                            a(href='/product/'+product._id)
                              h3 #{product.name}
                            h4 ฿#{product.price}  
                          .wish_icon_hover.text-center
                            ul
                              li.active
                                a(href='/cart/add/'+product._id, data-toggle='tooltip', title='Add to cart')
                                  img(src='/img/trend/shopping_cart.png', alt='')
                              li
                                a(href='#', data-toggle='tooltip', title='Like it!')
                                  img(src='/img/trend/heart.png', alt='')
                              //- li
                              //-   a(href='#', data-toggle='tooltip', title='Compage')
                              //-     i.fa.fa-bar-chart
                              //- li
                              //-   a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              //-     img(src='/img/trend/eye.png', alt='')
          #children.tab-pane.trend_item(role='tabpanel')
            .row
              .trend_item_slider
                each product in products
                  if (product.category.toLowerCase() === 'children' && product.stock > 0)
                    .col-12
                      .single_trend
                        .single_trend_item
                          .single_trend_img
                            a(href='/product/'+product._id)
                              img.primary_image(src=product.picture, alt='')
                              img.secondary_image(src=product.picture, alt='')
                          .single_trend_label.text-center
                            a(href='/product/'+product._id)
                              h3 #{product.name}
                            h4 ฿#{product.price}  
                          .wish_icon_hover.text-center
                            ul
                              li.active
                                a(href='/cart/add/'+product._id, data-toggle='tooltip', title='Add to cart')
                                  img(src='/img/trend/shopping_cart.png', alt='')
                              li
                                a(href='#', data-toggle='tooltip', title='Like it!')
                                  img(src='/img/trend/heart.png', alt='')
                              //- li
                              //-   a(href='#', data-toggle='tooltip', title='Compage')
                              //-     i.fa.fa-bar-chart
                              //- li
                              //-   a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              //-     img(src='/img/trend/eye.png', alt='')
  // trending end
  // featured start
  section.featured_area
    .container
      .row
        .col-12
          .section_title.text-center
            h2 FEATURED GAMES
            img(src='/img/section_title.png', alt='')
      .row
        .featured_owl_wrapper
          each product in products
            if product.stock > 0
              .col-12
                .single_trend
                  .single_trend_item
                    .single_trend_img
                      a(href='/product/'+product._id)
                        img.primary_image(src=product.picture, alt='')
                        img.secondary_image(src=product.picture, alt='')
                    .single_trend_label.text-center
                      a(href='/product/'+product._id)
                        h3 #{product.name}
                      h4 ฿#{product.price}  
                    .wish_icon_hover.text-center
                      ul
                        li.active
                          a(href='/cart/add/'+product._id, data-toggle='tooltip', title='Add to cart')
                            img(src='/img/trend/shopping_cart.png', alt='')
                            //- form(method='POST', action='/cart/add/'+product._id)
                            //-   input(type='submit', value=' ')
                        li
                          a(href='#', data-toggle='tooltip', title='Like it!')
                            img(src='/img/trend/heart.png', alt='')
                        //- li
                        //-   a(href='#', data-toggle='tooltip', title='Compage')
                        //-     i.fa.fa-bar-chart
                        //- li
                        //-   a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                        //-     img(src='/img/trend/eye.png', alt='')
  // featured end
