extends layout

block content
  != messages('message', locals)
  if errors
    div(class='alert alert-danger', style='text-align: center;')
      each error, i in errors
        p #{error.msg}
  // banner start
  .blog_banner_area
    .container
      .row
        .col-12
          .page_title
            h2 #{product.name}
  // banner end
  // Start Product Details area
  section.product_detail_area
    .container
      .row
        .col-lg-6.col-md-6.col-sm-12
          .product_img_tab.clearfix
            .product_main_img.tab-content
              #one.p_tab_img.active(role='tabpanel')
                a
                  img.product_picture(src=product.picture, alt='')
        .col-lg-6.col-md-6.col-sm-12
          .product_detail
            .product_title
              h2 #{product.name}
              br
            p
              if product.stock > 0
                i.fa.fa-check
                |  IN STOCK #{product.stock}
              else
                | OUT OF ORDER
            p
              | PRODUCT CODE: 
              span #{product._id}
            h4
              | ฿#{product.price}
            p.detail
              if product.player == 0
                | Players: ∞
              else if product.maxPlayer == 0
                | Players: #{product.player} - ∞
              else if product.player == product.maxPlayer
                | Players: #{product.player}
              else
                | Players: #{product.player} - #{product.maxPlayer}
              //- br
              //- | Playtime: 30+ minutes
              //- br
              //- | Ages: 7+
              //- br
              //- | Designer: James Napong
              br
              | Category: #{product.category}
            .wish_icon_hover.text-center
              ul
                if user
                  if user.isAdmin
                    li.active.cart
                      a(href='/product/edit/'+product._id, data-toggle='tooltip', title='Shopping Cart')
                        | EDIT THIS PRODUCT
                li.active.cart
                  //- form(method='POST', action='/cart/add/'+product._id)
                  //-   input(type='submit', value='      ADD TO CART')
                  if product.stock > 0
                    a(href='/cart/add/'+product._id, data-toggle='tooltip', title='Shopping Cart')
                      img(src='/img/trend/shopping_cart.png', alt='cart')
                      | ADD TO CART
                li
                  a(href='#', data-toggle='tooltip', title='Like it!')
                    img(src='/img/trend/heart.png', alt='')
      .row
        .col-12
          .product_description_tab
            .description_tab_menu
              ul.clearfix.nav(role='tablist')
                li.active(role='presentation')
                  a.active(href='#description', aria-controls='description', role='tab', data-toggle='tab') Product Description
            .tab-content
              #description.tab-pane.active(role='tabpanel')
                p !{product.description}
  // End Product Details area
