extends layout

block content
  // banner start
  .blog_banner_area
    .container
      .row
        .col-12
          .page_title
            h2 #{user.name}'s profile
  // banner end
  // order start
  .register_area
    .container
      .row
        .col-lg-3
        .col-lg-6(style='margin-bottom: 30px;')
          if user.isAdmin
            h4(style='color: red;') Admin account
          h2.register_heading Your Profile
          p
            h5 Name: 
            | #{user.name}
          p
            h5 Email: 
            | #{user.email}
          p
            h5 Delivery Information:
            |#{user.address} #{user.address2} #{user.address3}, #{user.address5} #{user.address4}
          p Tel. #{user.tel_num}
          p
            a(href="/account/edit_address")  Edit
      .row
        .col-lg-1
        .col-lg-10
          //- customer_order
          h2.register_heading Your orders
          .cart_list          
            table#transaction_table.table_cart.table-bordered
              thead 
                tr
                  th.unit_price Date Ordered
                  th.description Products
                  th.unit_price Promotion
                  th.unit_price Price
                  th.unit_price Address
                  th.action Status
              tbody.u_all
                if transactions
                  each transaction in transactions
                    if user.id === transaction.userID
                      tr.printto_hover
                        td.u_printto(style="padding: 5px;") #{transaction.date_ordered}
                        td.u_printto(style="padding: 5px;")
                          each product_trans in transaction.productID
                            each product_check in products
                              if product_trans === product_check.id
                                span
                                  a.u_printto(href='/product/'+product_trans) #{product_check.name} 
                                br
                                br
                        td.u_printto(style="color: black;")
                          each promotion_check in promotions
                            if transaction.promotionID === promotion_check.id
                              span(style="padding: 5px;")
                                | #{promotion_check.name}
                              br
                        td.u_printto(style="padding: 5px;") #{transaction.calculatedPrice}
                        td.u_printto(style="padding: 5px;") #{transaction.deliveryAddress} #{transaction.tel_num}
                        td.p_action
                          if transaction.isDelivered
                            span(style='color: green; font-weight: bold;') Delivered
                          else if transaction.isCancelled
                            span.u_printto Cancelled
                          else
                            form(action='/transaction/cancel/'+transaction._id, method="post")
                              input(type="submit", value="Cancel")
            //- a.shopping(href='account_set.html') BACK
  // order end
